@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}

/*css properties for navigation bar*/
header{
    position: fixed;
    top:0;
    left: 0;
    right:0;
    background: #fdfefbbf;
    padding:0px 3% 0px 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

/*css properties for LOGO*/
.logo img{
    width: 220px;
    height: auto;
    padding: 5px 20px;
}

/*css properties for content on nav bar*/
.navigation ul{
    list-style: none;
    text-transform: uppercase;
}

.navigation ul li{
    position: relative;
    float:left;
}

.navigation a{
    font-size: 18px;
    padding: 20px;
    color:#8d8c80;
    text-decoration: none;
    transition: 0.3s ease;
    display: block;
}

.navigation a:hover{
    background-color: #8d8c80;
    color: #FFFEF9;
}

.navigation .members{
    position: absolute;
    left:0;
    width: 150px;
    background: #fdfefbbf;
    color: #FFFEF9;
    display: none;
}

.members li{
    width: 100%;
    border-top: 1px solid #5a5950;
}

.navigation ul li:hover > ul{
    display: initial;
}

#icon{
    display: none;
}

header label{
    font-size: 18px;
    text-transform: uppercase;
    color: #8d8c80;
    cursor: pointer;
    display:none;
}

/*css properties to make nav bar responsive*/
@media(max-width:890px){
    header{
        padding:10px
    }

    header label{
        display: initial;
    }

    .navigation{
        position: absolute;
        top:100%;
        left:0;
        right:0;
        background: #fdfefbbf;
        border-top: 1px solid #5a5950;
        display: none;
}

    .navigation ul li{
        width: 100%;
    }

    .navigation .members{
        position: relative;
        width: 100%;
    }
    .navigation .members li{
        background: #fdfefba4;
    }

    #icon:checked ~ .navigation{
        display:inline;
    }
}


/*css properties for video bg and main content*/
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-bg{
    position: absolute;
    right:0;
    bottom:0;
    z-index: -1;
}

.overlay{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #3759C3;
    opacity: 70%;
}
.content{
    text-align: center;
    color: white;
    line-height: 1.5;
    position: relative;
}

.content h1{
    text-transform: uppercase;
    font-size: 140px;
    font-weight: 500;
    font-style: italic;
}

.content a{
    text-decoration: none;
    font-weight: 500;
    color: white;
    padding: 20px 40px;
    border: 2px solid white;
    border-radius: 40px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.3s ease;
    text-transform: uppercase;
}

.content a:hover{
    background-color: azure;
    color: #3759C3;
}


/*css properties to make video background and main content responsive*/
@media (max-width: 897px){
    .content h1{
        text-transform: uppercase;
        font-size: 90px;
        font-weight: 500;
        font-style: italic;
        margin-bottom: 20px;
    }
}
@media (max-width: 767px){
    .content h1{
        text-transform: uppercase;
        font-size: 60px;
        font-weight: 500;
        font-style: italic;
        margin-bottom: 20px;
    }

    .video-bg{
        display: none;
    }

    body{
        background: url(img-bg/home-backgroundImg.png);
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}